<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 margin-top-6" role="dialog"> 
  <div class="panel-group">
    <div class="panel panel-info" >
      <div class="panel-heading">Email Csv</div>
      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <%=form_for :email_upload,url:upload_csv_index_path,:html=>{:class=>"form-inline"} ,method: :post do |f|%>
          <%= f.file_field :email, :placeholder=>"Search email-id", :class=> 'form-control' %>
          <%= f.submit "Browse", :class=>'btn btn-primary' %>
        <%end%> 
      </div> 
      <div class="panel-footer margin-top-2">
        <%#= link_to "Send Email",send_email_path%>
      </div>
    </div>                        
    </div>
  </div> 
</div>


