
<!--div class="container margin-top-6">
  <%=#form_for :home  ,url:  root_path,:html=>{:class=>"form-inline"} do |f| %>
    <div class="row">
      <div class="form-group">
        <div class="col-lg-6">
         <%=#f.select "email_id",:class=>"form-control",:id=>"select-make",:required=> "true"%>
        </div> 
      </div> 
      <div class="form-group">
        <div class="col-sm-3 controls">
          <%=#f.button "Send Email" ,:class=>"btn btn-success form-control",:id=>"hotel-submit"%>
          <a href="#"></a>
        </div>
      </div>
    </div>
  <%#end%>
</div-->  
